<!DOCTYPE html>
<html>
<head>
    <title>Final Exam</title>
    <link rel="stylesheet" href="LoginStyles.css">
</head>
<body style="margin: 0">
<div id="Submit">
	{{result}}
	<a href = '/'>hello</a>
    <br>
    <div class="shadow2"></div>
</div>
<hr>
</body>


</html>